@import "../../assets/style/variables";

.form-section {

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include _768 {
      flex-direction: column;
    }
  }

  &__title {
    margin: 0 0 50px;
  }

  &__form {
    flex-basis: 60%;

    padding: 115px 50px;

    background-color: #E5E5E5;

    @include _768 {
      padding: 70px 30px;
    }

    @include _480 {
      padding: 50px 10px;
    }
  }

  &__caption {
    font-size: 18px;
    text-align: center;
  }

  .form__right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    padding: 30px;
  }
}