@import "../../assets/style/variables";

.services {

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: 285px;
    color: $c-white;
    background-color: $c-blue;

    padding-bottom: 15px;

    &__title {
      margin: 20px 0 50px;
      padding: 0 20px;
      text-align: center;
      text-transform: uppercase;
    }

    &__button {
      display: flex;
      margin: 0 auto;
      padding: 0 15px;
      background-color: $c-red;
      border: none;

      font-size: 14px;
      line-height: 37px;
      color: $c-white;

      box-shadow: 0 0 0 rgba(204,169,44, 0.4);
      animation: pulse 2s infinite;

      &:hover {
        background-color: #99222e;
        transition: .5s;
        animation: none;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}