@import "../../assets/style/variables";

.devices {
  padding: 100px 0 150px 0;

  @include _992 {
    padding: 60px 0;
  }

  .container-s {
    max-width: 1220px;
  }
  &__title {
    padding-bottom: 12px;
    text-align: center;
  }
  &__subtitle {
    text-align: center;
    color:$c-dark-gray;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
  &__image {
   margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    padding-top: 82px;

    &.iphone {
      .devices__image {
        width: 100%;
        height: 220px;
      }
    }

    &.ipad {
      .devices__image {
        width: 100%;
        height: 250px;
      }
    }

    &.ipad {
      .devices__image {
        width: 100%;
        height: 120px;
      }
    }

    @include _1280 {
      grid-template-columns: repeat(3, 1fr);
      gap: 70px;
    }

    @include _992 {
      padding-top: 32px;
    }

    @include _768 {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
  &__post-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $c-black;
    text-align: center;
    padding-top: 28px;
    @include _1280 {
      padding-top: 18px;
    }
    @include _480 {
      padding-top: 8px;
    }
  }
  &__post {
    align-content: end;
    display: grid;
    transition: $transition;

    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}



