@import "../../assets/style/variables";

.service {
  &__title {
    text-align: center;
    padding: 100px 0 12px;
    @include _480 {
      padding: 50px 0 12px;
    }
  }

  &__subtitle {
    text-align: center;
    color: $c-blue;
    padding-bottom: 82px;
    @include _480 {
      padding-bottom: 42px;
    }
  }

  &__name-service {
    padding-bottom: 12px;
    @include _480 {
      padding-bottom: 6px;
      text-align: center;
    }
  }

  &__working-time {
    display: flex;
    justify-content: end;
    color: $c-dark-gray;
    font-weight: 300;
    line-height: 22px;
    white-space: nowrap;
    @include _480 {
      justify-content: center;
    }
  }

  &__price {
    display: flex;
    justify-content: end;
    padding-bottom: 12px;
    white-space: nowrap;
    @include _480 {
      white-space: normal;
      padding-bottom: 0;
      justify-content: center;
    }
  }

  &__price-time-service {
    display: flex;
    @include _768 {
      flex-direction: column;
      align-items: center;
    }
    @include _480 {
      display: flex;
      flex-direction: unset;
      justify-content: space-between;
      padding-top: 12px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    @include _480 {
      flex-direction: column;
      padding-top: 22px;
    }
  }

  &__information {
    padding-top: 100px;
    text-align: center;
    color: $c-dark-gray;
    @include _480 {
      padding-top: 50px;
    }

  }

  &__category {

  }

  &__title-category {
    padding: 100px 0 22px;
    border-bottom: 1px solid $c-gray-line;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 32px;
    @include _480 {
      padding: 50px 0 22px;

    }
  }

  &__price_original {
    color: $c-blue;
    padding-left: 10px;
    @include _480 {
      text-align: center;
      padding-left: 0;
    }
  }

  &__separator {
    padding: 0 10px;

  }

  &__description-service {
    color: $c-dark-gray;
    font-weight: 300;
    line-height: 22px;
    @include _480 {
      text-align: center;
    }
  }

  &__name-description-service {
    padding-right: 30px;
    @include _480 {
      padding-right: 10px;

    }
  }

  &__btn {
    margin-left: 16px;
    color: $c-white;
    display: flex;
    cursor: pointer;
    height: max-content;
    @include _768 {
     margin-left: 0;
    margin-top: 12px;
    }
    @include _480 {
      padding: 8px 20px;
      margin: 0;
    }
  }
  &__price-time-service-wrapper {

    @include _480 {
      padding-right: 10px;
    }
  }
}



