@import "../variables";

header {
  background-color: $c-light-black;
  height: 56px;
  display: flex;
  align-items: center;

  .header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: $c-white;
      transition: $transition;

      &:hover {
        color: $c-blue;
        opacity: 0.7;
      }
    }

    .current_page_item {
      a {
        color: $c-blue;
      }
    }

    .burger-mobile-close {
      display: none;
    }

    .burger-mobile {
      display: block;
    }

    .desktop {
      display: flex;

      li {
        margin-right: 50px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .mobile {
      display: none;

      &.js-active-menu {
        overflow: hidden;
        padding: 48px 0;
        display: flex;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        height: calc(100vh - 55px);
        background: black;
        z-index: 10;
        flex-direction: column;
        justify-content: flex-start;

        li {
          text-align: center;
          padding: 12px 0;
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;

          a {
            display: block;
          }
        }
      }
    }

    .header-number {
      &.mobile {
        display: none;
      }

      color: $c-white;
    }
  }
}