@import "../../assets/style/variables";

.tracks {

  &__wrapper {
    width: 100%;
    height: 130px;

    @include _768 {
      height: 240px;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;


    .slide-wrapper {
      @include _768 {
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
      }
      display: flex;
      column-gap: 50px;

      audio {
        width: 300px;
        min-width: 300px;
        display: block;
      }

      .slide-title {
        padding-left: 20px;
      }
    }
  }
}