@import "../../assets/style/variables";

.about-us {


  &__wrapper {
    display: flex;
    column-gap: 140px;
  }
  &__slider {
    width: 50%;
  }

  img {
    width: auto;
    height: 100%;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
  }
}

.card {
  &-wrapper {
    display: flex;
    justify-content: center;
    height: 500px;
  }
}