@import "assets/style/variables";

body, html, p {
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    margin:0;
}

.main {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title {
    text-align: center;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;

    margin-bottom: 50px;

    @include _992 {
        margin-bottom: 30px;
    }
}

.default-section {
    padding-top: 50px;
    padding-bottom: 95px;

    @include _992 {
        padding-bottom: 50px;
    }

    @include  _768 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.container {
    width: 100%;
    max-width: 1240px;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;

    @include _768 {
        max-width: 668px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

a {
    text-decoration: none;
    color: $c-white;
}

ul {
    list-style: none;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.fancybox__container {
    .has-error {
        display: none;
    }
    .fancybox__carousel {
        height: 0;
    }

}