$transition: all .2s ease-in-out;

$c-black: #0F0F0F;
$c-white: #fff;
$c-gray: #1F1F1F;
$c-green: #1ED760;
$c-blue: #0A192F;
$c-black-overlay: rgba(0, 0, 0, 0.5);
$c-red: #DC3545;

$c-pink: #fab2f2;
//$c-blue: #5ebef1;
$c-blue-light: #9f9ae2;
$c-purple: #dc6cd3;


$header-height: 60px;

@mixin _1280 {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin _992 {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin _768 {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin _480 {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin hover {
    &:hover {
        color: $c-purple;
    }
}