@import "../../assets/style/variables";

.banner {
  background-color: $c-blue;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    cursor: pointer;
    text-decoration: underline;
    display: flex;
    width: max-content;
    color: $c-white;
    margin: 0 auto;

    p {
      text-align: center;
    }

    &:hover {
      text-decoration: none;
    }
  }
}