@import "../../variables";
.global-modal {
  display: none;
  height: 100%;
}

.global-modals {
  &-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 15px;

    .global-modal {
      width: 100%;
      max-width: 950px;
      margin: 0 auto;

      display: flex;
      flex-direction: column;
      justify-content: center;

      @include _992 {
        max-width: 100%;
      }
      @include _480 {
        overflow-y: scroll;
      }
    }
  }


  &__socials {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

}