@import "../../assets/style/variables";

.equipment {

  &__wrapper {
    width: 100%;
    height: 300px;

    @include _768 {
      height: auto;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 375px;
    height: auto;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
  }
}