@import "../../assets/style/variables";

.index-preview {
  height: 100vh;


  &__background {
    display: block;
    width: 110%;
    height: auto;
    position: absolute;

    margin: 0 auto;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;

    @include _768 {
      align-items: flex-end;
    }
  }

  &__overlay {
    transform: translateY(-10px);
  }
}