@import "../../assets/style/variables";

.index-preview {
  background-attachment: fixed;
  width: 100vw;
  height: auto;

  &__background {
    display: block;
    height: auto;
    position: absolute;

    margin: 0 auto;
  }

  &__wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  &__overlay {
    transform: translateY(-10px);
  }
}