@import "../variables";

.main-footer {
  background-color: #0F0F0F;
  padding: 5px 0;
  position: relative;

  @include _768 {
    padding: 15px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 50px;

    @include _768 {
      flex-direction: column;
    }
  }

  &__social-box {
    @include _768 {
      margin-bottom: 15px;
    }
  }
}

.social-networks {
  &__list {
    flex-wrap: wrap;
    @include _480 {
      justify-content: center;
    }

    @include _480 {
      li:nth-last-child(2) {
        margin: 0;
      }
    }
  }

  &__item--phone {
    @include _480 {
      order: -1;
      width: 100%;

      margin-bottom: 15px;
      margin-left: 0;
    }

    a {
      @include _480 {
        margin: 0 auto;
        width: 50%;
      }
    }
  }
}

.online-consultant {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 200;

  &__main_image-close, &__main_image-open {
    transition: $transition;
    opacity: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
  }

  &__main_image-open {
    fill: $c-white;
  }

  &__wave {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: btn-wave 1s infinite linear;
    border-radius: 50%;
    background: $c-blue;
    transform: scale(1.2);
    z-index: -1;
  }

  @keyframes btn-wave {
    0% {
      box-shadow: 0 0 0 0 $c-blue
    }
    100% {
      box-shadow:0 0 0 14px rgba(10, 75, 120, 0);
    }
  }

  &__socials {
    pointer-events: none;

    a {
      transition: $transition;
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0;
      height: 40px;
      width: 40px;
      background-color: $c-white;
      border-radius: 50%;

      img {
        position: absolute;
        top: 2px;
        transform: scale(1.1);
      }
    }
  }

  .js-active-open {
    opacity: 1;
    z-index: 10;
  }

  .js-active-socials {
    pointer-events: auto;
    a {
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 1;
    }
  }
}
