@import "../../assets/style/variables";

.loyalty {
  background-position: center;
  background-size: cover;
  position: relative;

  .container-s {
    padding: 80px 40px;
    @include _992 {
      padding: 40px 20px;

    }
  }

  &__title {
    padding-bottom: 12px;
    color: $c-white;
    z-index: 5;
  }

  &__subtitle {
    color: $c-white;
    padding-bottom: 24px;
  }

  &__blocks {
    li {
      display: flex;
      align-items: center;
      color: $c-white;
      padding-bottom: 16px;

      &:last-child {
        padding-bottom: 0;
      }
    }

  }

  &__block-tittle-subtitle {
    width: 50%;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    @include _992 {
      width: 100%;
    }
    @include _480 {
      padding-left: 0;
    }
  }

  &__block-image {
    width: 80px;
    height: 80px;
    img {
      object-fit: cover;
      height: 100%;
    }
    @include _480 {
      display: none;
    }
  }

  &__block-title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 500;
    padding-bottom: 6px;
  }

  &__block-subtitle {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 300;
  }

}