@import "../../assets/style/variables";

.services {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @include _768 {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include _480 {
      flex-direction: column;
    }
  }

  &__list {
    margin-bottom: 15px;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    @include _480 {
      padding: 20px 0;
    }
  }

  .card {
    flex-grow: 1;
    width: 40%;
    color: $c-white;
    background-color: $c-blue;
    padding-bottom: 20px;

    @include _480 {
      display: flex;
      width: 100%;
      padding-bottom: unset;
    }

    &__title {
      margin: 20px 0 50px;
      padding: 0 20px;
      text-align: center;
      text-transform: uppercase;

      @include _480 {
        margin: 0;
        padding: 0 10px;
        font-size: 16px;
      }
    }

    &__button {
      display: flex;
      margin: 0 auto;
      padding: 0 15px;
      background-color: $c-red;
      border: none;

      font-size: 14px;
      line-height: 37px;
      color: $c-white;

      box-shadow: 0 0 0 rgba(204,169,44, 0.4);
      animation: pulse 2s infinite;

      &:hover {
        background-color: #99222e;
        transition: .5s;
        animation: none;
      }
    }

    img {
      width: 100%;
      height: auto;

      @include _480 {
        min-width: 50%;
      }
    }
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}